<p>Who is in your circle?</p>

<h3>Type In A Name To Find Your Fellow Blogger!</h3>
<form method="post" action="/discover">
  <label for="name">Search User</label>
  <input type="text" name="searchname">
  <input type="submit">
 </form>
