<div class="resultsheading">
  Here are the people who match:
</div>
<% @users.each do |user| %>
 <% if user.username == @search || user.fname == @search %>
  <div>
    <form class="" action="/discover_results" method="post">
      <input type="submit" name="searcheduser" value="<%= user.username %>">
    </form>
  </div>
  <% end %>
<% end %>
