<div class="resultsheading">
  Here are the people who match:
</div>

<% @users.each do |user| %>
 <% if user.username == @search || user.fname == @search %>
  <div>
    <form>
      <input type="radio" name="searcheduser"><label> <%= user.username %> </label>
    </form>
  </div>
  <% end %>
<% end %>
