<div class="homeposts">
  <% @posts.each do |post| %>
    <div>
      <p> Title: <%= post.title %> </p>
      <p> Content: <%= post.content %> </p>
      <br>
      <br>
    </div>
  <% end %>
</div>
