
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <ul id= "navbar">
      <li class= "navitem"><a class= "navlink" href="/">Home</a></li>
      <li class="navitem"><a class= "navlink" href="/profile">Profile</a></li>
      <li class= "navitem"><a class= "navlink" href="/discover">Discover</a></li>
      <li class="signup"><a class= "navlink" href="/login">Login</a></li>
      <li class="signup"><a class= "navlink" href="/signup">SignUp </a></li>
    </ul>
    <%= yield %>
    <!-- <div class="logo-div">
      <img class="logo" src="logo.png" alt="">
    </div> -->
  </body>
</html>
