
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="main.js">

    </script>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/discover">Discover</a></li>
      <li class="signup"><a href="/login">Login</a></li>
      <li class="signup"><a href="/signup">SignUp</a></li>

    </ul>
    <div class="logo-div">
      <img class="logo" src="logo.png" alt="">

    </div>

<div class='content'>
  <%= yield %>
</div>


  </body>
</html>
