
<h1 id="signupdiv">Join Might Micro Blog's amazing, diverse, and Growing community</h1>
<div id="signupdiv">
  <form method="POST" action="/sign-up">
    <label for="fname">First Name:</label>
    <input type="text" name="fname">
    <label for="lname">Last Name</label>
    <input type="text" name="lname">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="birthday">Birthday(mm/dd/yy):</label>
    <input type="text" name="bday">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit">
  </form>
</div>
