body {
  background-image: url("background.png");
  background-size: cover;
}

#navbar {
    list-style-type: none;
    margin: 0;
    margin-left: 17.5%;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.navitem {
    float: left;
}

.navlink {
    display: block;
    color: #FF2DAA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.profile{
  margin-left: 400px;
  background-color: black;
  font-size: 35px;
  color: #FF2DAA
}

.signup {
  float:right;
  color: #FF2DAA;
  text-align: center;
  text-decoration: none;
}
.logo {
  position: relative;
  height:250px;
  width:2px;
  margin-top: -3.25%;
}

#signupdiv{
  color: #FF2DAA;
}

.si{
  color: #FF2DAA;
}
.posts{
  text-align: center;
  color: #FF2DAA;
  font-size: 25px;
}
